<!-- ask them to return to home (and therefore log out) if they are logged in -->
<% if user_signed_in? %>
    <div class='overlay' id='return'>
        <%= link_to 'Return to home', destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-lg' %>
    </div>

<% else %>

    <!-- welcome jumbotron -->
    <div class="jumbotron jumbotron-home" id='welcome'>
        <div class="container-left">
            <h1>Welcome to Harvest Loop</h1>
            <p>We're busy at work developing a new way for you to get<br>your hands on local, more sustainable, and healthier foods.</p>
        </div>
    </div>

    <!-- intro -->
    <div class="parallax" id='intro'>
        <div class='section-bar' id='interested'>
            <h1>Are you interested in locally farmed foods?</h1>
        </div>
        <div class='container' id='looking'>
            <p>Are you looking for a better way to find locally produced foods?  Whether you're looking to support your local economy or trying to reduce your environmental impact, we want to connect you directly to local farms supplying delicious, healthy, more sustainable food.  A direct connection helps both customers and farmers by reducing costs and increasing transparency.</p>
            <p>Instead of wandering aimlessly through a grocery store hoping to find a couple "local" items, imagine a fast, online selection process with options for local pickup or delivery to your home.  That's what we're building.</p>
            <p>In the mean-time, check out our demo app by clicking on the link below.</p>
        </div>
    </div>

    <!-- demo -->
    <div class="parallax" id='demo'>
        <div class='section-bar' id='try'>
            <h1>Try it out!</h1>
        </div>
        <div class='container' id='click'>
            <h2><%= link_to 'See the demo', "https://invis.io/C6BETT5W7#/223427525_Home_Screen_-4-", :target => '_blank', class: 'btn btn-primary btn-lg' %></h2>
            <h3>Instructions for the Demo</h3>
            <p>InVision is a simple prototyping app that helps developers like us get our ideas in front of users like you.  On any page, click anywhere you want and, if you haven't clicked on an actual button, blue squares will briefly show up to tell you where you can click to get interactive results.  For example, on our first page if you click on "produce", you'll be able to go through an example of how you could use Harvest Loop to choose local, organic produce near Boulder, Colorado. </p>
            <p>Go on, give it a try!</p>
        </div>
    </div>

    <!-- contact -->
    <div class="parallax" id='contact'>
        <div class='section-bar' id='know'>
            <h1>Want to know more?</h1>
        </div>
        <div class='container' id='send'>
            <h2>Send an email any time to jessehintz44@gmail.com</h2>
            <% if user_signed_in? %>
                <h2>Or, click here to get email updates! <%= link_to 'Clear last user', new_user_registration_path, method: :get, class: 'btn btn-primary btn-lg' %></h2>
            <% else %>
                <h2>Or, click here to get email updates! <%= link_to 'Sign Up', new_user_registration_path, method: :get, class: 'btn btn-primary btn-lg' %></h2>
            <% end %>
        </div>
    </div>
<% end %>
